.container{
    height: 100vh;
    width: 100vw;
    background-color:rgba(42, 42, 58, 0.5) !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    border-radius: 0px 0px 70px 0px;
    font-family: "poppins";
    
}

.intro_Container{
    max-width: 800px;
    max-height: 700px;
    padding-left:15px;
    padding-bottom:15px;
}
.imageContainer{
    background-image: url("https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg");
    border-radius: 50%;
    border: 7px solid;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
    margin: 10px;
}

.image{
   
}